# Sessão do WhatsApp - Baileys
baileys_auth/

# WhatsApp Web.js - arquivos antigos
.wwebjs_auth/
.wwebjs_cache/

# Banco de Dados
*.db

# Módulos do Node
node_modules/

# Backup da sessão do WhatsApp
baileys_auth_backup/

# Variáveis de ambiente
.env